In [2]:
import pandas as pd

In [3]:
file = 'Resources/jobss.csv'

In [4]:
df = pd.read_csv(file, encoding="ISO-8859-1")

In [5]:
df.head()

,Job Title,Unnamed: 1,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role,Longitude,Latitude,sal
0,Digital Media Planner,NaN,5 - 10 yrs,Media Planning| Digital Media,Advertising,Mumbai,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager,72.877393,19.075990,3855
1,Online Bidding Executive,NaN,2 - 5 yrs,pre sales| closing| software knowledge| clien...,Retail Sales,"Pune,Pune","Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer,73.854454,18.521428,2639
2,Trainee Research/ Research Executive- Hi- Tec...,NaN,0 - 1 yrs,Computer science| Fabrication| Quality check|...,R&D,Gurgaon,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive,77.002700,28.428262,2156
3,Technical Support,NaN,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Mumbai,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer,72.877393,19.075990,4059
4,Software Test Engineer -hyderabad,NaN,2 - 5 yrs,manual testing| test engineering| test cases|...,Programming & Design,Hyderabad,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer,78.474061,17.360589,5347

In [6]:
df.count()

Job Title                  489
Unnamed: 1                   0
Job Experience Required    500
Key Skills                 500
Role Category              463
Location                   489
Functional Area            489
Industry                   489
Role                       486
Longitude                  473
Latitude                   473
sal                        500
dtype: int64

In [7]:
del df['Unnamed: 1']

In [8]:
del df['Key Skills']

In [9]:
del df['Role Category']

In [10]:
df.count()

Job Title                  489
Job Experience Required    500
Location                   489
Functional Area            489
Industry                   489
Role                       486
Longitude                  473
Latitude                   473
sal                        500
dtype: int64

In [11]:
df = df.dropna(how='any')

In [12]:
df.count()

Job Title                  459
Job Experience Required    459
Location                   459
Functional Area            459
Industry                   459
Role                       459
Longitude                  459
Latitude                   459
sal                        459
dtype: int64

In [13]:
df.describe()

        Longitude    Latitude          sal
count  459.000000  459.000000   459.000000
mean    77.536905   20.465412  4225.786492
std     10.484835    5.959481  1611.273979
min    -79.030572   -8.123729  1510.000000
25%     73.854454   17.360589  2827.000000
50%     77.121215   19.075990  4227.000000
75%     77.590082   28.428262  5668.000000
max    121.097753   30.744272  6991.000000

In [14]:
df.to_csv("Resources/clean_jobss.csv", index=False, encoding="ISO-8859-1")